body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

section {
  background-color: #000;
  color: #fff;
}

h1 {
  font-family: 'Spline Sans Mono', monospace;
  font-size: 2rem;
  color: #fff;
}

.container-fluid {
  padding: 3% 10% 3%;
}


input, select {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    font-weight: 600;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
}

input#submit {
    background-color: #000;
    color: white;
    width: 50%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
input#submit:hover {
  background-color: grey;
  color: white;
}
